<div class="shopping-cart">
            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="images/sugar.jpg" alt="">
                <div class="content">
                    <h3>sugar</h3>
                    <span class="price">40rs/-</span>
                    <span class="quantity">qty : 1</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="images/masoor.jpg" alt="">
                <div class="content">
                    <h3>masoor</h3>
                    <span class="price">35rs/-</span>
                    <span class="quantity">qty : 2</span>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-trash"></i>
                <img src="images/chaat-masala.png" alt="">
                <div class="content">
                    <h3>chat masala</h3>
                    <span class="price">20rs/-</span>
                    <span class="quantity">qty : 3</span>
                </div>
            </div>

            <div class="total">total : 60rs/-</div>
            <a href="#products" class="btn">checkout</a>
        </div>











css



.header .shopping-cart{
  position: absolute;
  top: 110%; right: -110%;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  background: #fff;
 }

 .header .shopping-cart.active{
  right: 2rem;
  transition: .4s linear;
 }

 .header .shopping-cart .box{
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
 }

 .header .shopping-cart .box img{
  height: 10rem;

 }

 .header .shopping-cart .box .fa-trash{
  font-size: 2rem;
  position: absolute;
  top: 50%; right: 2rem;
  cursor: pointer;
  color: var(--light-color);
  transform: translateY(-50%);
 }

 .header .shopping-cart .box .fa-trash:hover{
  color: var(--orange);
 }

 .header .shopping-cart .box .content h3{
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
 }

 .header .shopping-cart .box .content span{
  color: var(--light-color);
  font-size: 1.6rem;
 }

 .header .shopping-cart .box .content .quantity{
  padding-left: 1rem;
}

.header .shopping-cart .total{
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
}

.header .shopping-cart .btn{
  display: block;
  text-align: center;
  margin: 1rem;
}

