<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Nutrition Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.main.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.main.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.main.css"/>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.main.css">

</head>
<body>

    <!-- start header -->
    
    <header id="header">
        <div class="logo">
            <a class ="header" href="images (5).jpg"
            <a href="#"><img id="lol" src="p2.jpg" alt="">Online Nutrition Shop</a>
        </div>
        <ul class="navigation">
            <li><a href="#home" class="active">home</a></li>
            <li><a href="Order.html">Order</a></li>
            <li><a href="#product">product</a></li>
            <li><a href="#new arrival">new arrival</a></li>
            <li><a href="#About Us">About Us</a></li>
            <li><a href="feedback.html.txt">Feedback</a></li>
        </ul>
        <div class="bars">
            <img id="bar" src="images ().jpg"alt="">
        </div>
       
        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-user" id="log in.html"></div>
        </div>

       
    </header>
      
      
      
      
    
    <!-- end header -->

    <!-- start home  -->

    <div class="big-bg" id="home">
        <div class="bg-content">
           
            <h1>Quality is the best thing <br> in the Nutrition Shop</h1>

            <hr>
            <p>
                We make our products in the best shape for your happiness, <br> so we hope to build a bridge of trust with you.
            </p>
            <div class="bg-link">
                <a href="#product">shop Now</a>
            </div>
        </div>
    </div>
    <!-- end home  -->

    <!-- start second section  -->

    


    <!-- end second section  -->

  







    <!-- start section three  -->
    

    <div class="big-shop" id="product">
        <div class="shop-title">
            <div class="link">
        
            </div>
            <h2>
                We are very proud to present Product  <br> our Online Nutrition Shop 
            </h2>
            <p>
                Quality is the easiest way to make beautiful products.
            </p>
        </div>
        <div class="shop-flex">
            <div class="shop-one">

                <div class="image-one">
                    <img src="p19.jpg" alt="">
                    <div class="overlay">
                        <div class="txt">
                            <h3>Vegetables</h3>
                            <section>
                                <span>Online Nutrition Shop</span> 
                            </section>
                            <div class="link">
                                <li><a href="Order.html">Order Now</a></li>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-one">
                    <img src="p10.jpg" alt="">
                    <div class="overlay">
                        <div class="txt">
                            <h3>ISO HD</h3>
                            <section>
                                <span>Online Nutrition Shop</span> 
                            </section>
                            <div class="link">
                                <li><a href="Order.html">Order Now</a></li>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="shop-one">

                <div class="image-one">
                    <img src="p16.jpg" alt="">
                    <div class="overlay">
                        <div class="txt">
                            <h3>Dry Fruits</h3>
                            <section>
                                <span>Online Nutrition Shop</span> 
                            </section>
                            <div class="link">
                                <li><a href="Order.html">Order Now</a></li>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image-one">
                    <img src="p24.jpg" alt="">
                    <div class="overlay">
                        <div class="txt">
                            <h3>Harbal Life</h3>
                            <section>
                                <span>Online Nutrition Shop</span> 
                            </section>
                            <div class="link">
                                <li><a href="Order.html">Order Now</a></li>
                            </div>
                        </div>
                    </div>
                </div>

            

        </div>
    </div>

    <!-- end section three  -->

    <!-- start section four  -->
    <div class="big-product" id="new arrival">
        <div class="product-title">
            <p>
                browse our items
            </p>
            <h2>
                  
            </h2>
            <hr>
        </div>
        <div class="product-flex">
            <div class="product-one">
                <div class="product-image">
                    <img src="p25.jpg" alt="">
                    <div class="overlay">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <h4>
                            HERBLES TEA
                        </h4>
                    </div>
                    <div class="right">
                        <img src="p22.jpg" alt="">
                       
                    </div>
                </div>
            </div>


            <div class="product-one">
                <div class="product-image">
                    <img src="p24.jpg" alt="">
                    <div class="overlay">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <h4>
                            POWDER DRINK
                        </h4>
                    </div>
                    <div class="right">
                        <section>$16.00</section>
                    </div>
                </div>
            </div>


            <div class="product-one">
                <div class="product-image">
                    <img src="lizzat papad.webp" alt="">
                    <div class="overlay">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <h4>
                            Lizzat Papad
                        </h4>
                    </div>
                    <div class="right">
                        <section>$53.00</section>
                    </div>
                </div>
            </div>


            <div class="product-one">
                <div class="product-image">
                    <img src="ideal7.png" alt="">
                    <div class="overlay">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <h4>
                              Manchurian
                        </h4>
                    </div>
                    <div class="right">
                        <section>$19.00</section>
                    </div>
                </div>
            </div>


            <div class="product-one">
                <div class="product-image">
                    <img src="masala.jpg" alt="">
                    <div class="overlay">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <h4>
                            Garam Masala
                        </h4>
                    </div>
                    <div class="right">
                        <section>$26.00</section>
                    </div>
                </div>
                <article>decoration</article>
            </div>

            <div class="product-one">
                <div class="product-image">
                    <img src="ideal4.png" alt="">
                    <div class="overlay">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <h4>
                            Cup Cake
                        </h4>
                    </div>
                    <div class="right">
                        <section>$165.00</section>
                    </div>
                </div>
            </div>

            <div class="product-one">
                <div class="product-image">
                    <img src="png10.png" alt="">
                    <div class="overlay">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <h4>
                            Mango Pickle
                        </h4>
                    </div>
                    <div class="right">
                        <section>$120.00</section>
                    </div>
                </div>
            </div>

            <div class="product-one">
                <div class="product-image">
                    <img src="p2.png" alt="">
                    <div class="overlay">
                        <i class="fas fa-shopping-bag"></i>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <h4>
                            Chikan 65
                        </h4>
                    </div>
                    <div class="right">
                        <section>$115.00</section>
                    </div>
                </div>
            </div>--

        </div>
    </div>

    <!-- end section four  -->
    
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
      </div>
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="n1.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Hardik Pandya</h2>
              <p class="title">Cricketer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>Hardik@example.com</p>
              <p><button class="button"></button></p>
              <li><a href="new.html">Contact Us</a></li>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="p12.webp" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Miny Ross</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <p><button class="button"><Contact class="html"></Contact></button></p>
              <li><a href="new.html">Contact Us</a></li>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="p26.jpg" alt="John" style="width:100%">
            <div class="container">
              <h2>Virat Kohali</h2>
              <p class="title">Cricketer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>virat@example.com</p>
              <p><button class="button"><Contact class="html"></Contact></button></p>
              <li><a href="new.html">Contact Us</a></li>
            </div>
          </div>
        </div>
      </div>
      
      
      
       
      
    <!-- end footer image section  -->
    <!-- start feedback section  -->
   
      
    <!-- start footer section  -->

    
    <div class="bg-footer">
        <div class="footer-flex">
            <div class="footer1">
                <h2>Online Nutrition Shop</h2>
                <section>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam exercitationem eius labore commodi illum autem asperiores doloribus praesentium non ut.
                </section>
            </div>
            <div class="footer1">
                <h2>helpful links</h2>
                <li><a href="#">about us</a></li>
                <li><a href="#">our blog</a></li>
                <li><a href="#">visit site</a></li>
                <li><a href="#">contact us</a></li>
                <li><a href="#">apply a job</a></li>
            </div>
            <div class="footer1">
                <h2>shopping</h2>
                <li><a href="#">online cards</a></li>
                <li><a href="#">return policy</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">shipping</a></li>
                <li><a href="#">inventory</a></li>
            </div>
            <div class="footer1">
                <h2>payment method</h2>
                <section>
                    select one of the most common ways to pay a money for our products.
                </section>
                <div class="footer-logo">
                    <img src="g.png" alt="">
                </div>
            </div>
        </div>
        <hr>
        
        
    </div>

    <!-- end footer section  -->
    
    <!-- start scroll to top  -->
    

    <div class="top">
        <i class="fas fa-chevron-up"></i>
    </div>




    <!-- end scroll to top  -->




    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        autoplay: true,
        speed: 600,
        breakpoints: {
          576: {
            slidesPerView: 2,
            spaceBetween: 30,
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 10,
          },
          991: {
            slidesPerView: 3,
            spaceBetween: 20,
          },
        },
      });
    </script>





   

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>