@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');


*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --main-color: #207178
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    padding: 13px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 1111;
    box-shadow: var(--box-shadow);
    transition: .5s ease-in-out;
}

header .logo a{
    font-size: 20px;
    text-decoration: dotted;
    text-transform: capitalize;
    color: #fff;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth; ;
}


header .logo img{
    width: 10px;
    margin-top: -5px;
    padding: 10px 30px;
}
header ul{
    display: flex;
    margin: 0;
}
header ul li{
    margin: 0px 20px;
}
header ul li a{
    color:#eee;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: left;
    display: inline-block;
    transition: .4s;
    font-size: 17px;
}
header ul li a:hover{
    display: inline-block;
    color: var(--maroon);
}

header .bars{
    display: inline-block;
}
header .bars img{
    width: 30px;
    cursor: pointer;
}


header  .icons {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

header.active{
    background: #fff;
    box-shadow: 1px 1px 1px #ddd;
}
header.active .logo a{
    color: #FA86C4;
}
header.active ul li a{
    color: #FA86C4;
    border-color: #000;
    display: inline-block;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

@media(max-width: 991px){
    header .navigation{
        display: flexbox;
        height: 100vh;
        width: 50%;
        background: (0,0,0,.5);
        position: absolute;
        top: 68px;
        right: -50%;
        text-align: center;
        font-size: 35px;
        align-items:center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
    header.active .navigation{
        background: #FA86C4
    }
    header .navigation li{
        margin: 15px 0px;
    }
    header .bars{
        display:flex;
    }
}

@media(max-width: 576px){
    header{
        padding: 13px 30px;
    }
    header .navigation.new{
        width: 100%;
        right: -100%;
    }
}

.big-bg{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) ,url(p1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-bg .bg-content{
    text-align: center;
    color: #fff;
}
.big-bg .bg-content h1{
    font-size: 55px;
}
.big-bg .bg-content hr{
    background: #000;
    width: 35%;
    height: 1px;
    margin: 10px auto 13px auto;
}
.big-bg .bg-content .bg-link{
    margin-top: 16px;
}
.big-bg .bg-content .bg-link a{
    display: inline-block;
    color: #f9f9f9;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.bg-content .bg-link a::before{
    position: absolute;
    content: "";
    background:#bb0c55;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s ease-in-out;
}
.bg-content .bg-link a:hover::before{
    left: 0%;
}
.bg-content .bg-link a:hover{
    border-color:#fff;
}
.row {
    align-items: center;
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 16px;
    padding-top: 90px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%; 

  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #828282;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #d91ad6;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 991px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  


@media(max-width: 991px){
    .big-bg .bg-content h1{
        font-size: 50px;
    }
    .big-bg .bg-content p{
        font-size: 15px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 15px;
        font-style: bolder;
    }
}

@media(max-width: 768px){
    .big-bg .bg-content h1{
        font-size: 50px;
    }
    .big-bg .bg-content p{
        font-size: 14px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 14px;
    }
}

@media(max-width: 576px){
    .big-bg .bg-content{
        padding: 0px 15px;
    }
    .big-bg .bg-content hr{
        width: 130px;
    }
    .big-bg .bg-content br{
        display: none;
    }
    .big-bg .bg-content h1{
        font-size: 28px;
    }
    .big-bg .bg-content p{
        font-size: 13px;
    }
    .big-bg .bg-content .bg-link a{
        font-size: 13px;
    }
}


@keyframes animate1 {
    0%{
        width: 0;
        height: 0;
        border-top-color: var(--black);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: var(--black);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: var(--black);
        border-right-color: var(--black);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.collect .image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}
.big-collection .collect:hover .image::after{
    animation: animate2 .6s linear forwards;
}

@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--black);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--black);
        border-left-color: var(--black);
    }
}

@media(max-width: 1230px){
    .big-collection .collect-flex{
        display: flex;
        justify-content: center;
    }
}


.big-shop{
    width: 90%;
    margin: 150px auto; 
}
.big-shop .shop-title{
    text-align: center;
    margin-bottom: 50px;
}
.big-shop .shop-title h2{
    font-weight: 700;
    font-family: 'Fenix' , serif;
}
.big-shop .shop-title p{
    font-size: 15px;
}
.big-shop .shop-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop-flex .shop-one{
    width: 26%;
}
.shop-flex img{
    width: 100%;
}
.shop-flex .shop-two{
    width: 44%;
}
.shop-flex .image-one{
    position: relative;
    margin-bottom: 20px;
}
.shop-flex .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.shop-flex .overlay .txt{
    color: #FFF;
}
.shop-flex .overlay .txt h3{
    margin-bottom: 3px;
}
.shop-flex .overlay .txt span{
    color: #fff;
}
.shop-flex .overlay .link{
    position: absolute;
    bottom: 50px;
}
.shop-flex .overlay .link a{
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}
.shop-flex .overlay .link i{
    vertical-align: middle;
    transition: padding .4s ease-in-out;
    font-size: 15px;
}
.shop-flex .overlay .link a:hover i{
    padding-left: 3px;
}
.shop-flex .overlay .link a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    background: #FFF;
    width: 100%;
    height: 2px;
    transition: left .4s ease-in-out;
}
.shop-flex .overlay .link a:hover::before{
    left: 0;
}

.shop-flex .image-one:hover .txt{
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .image-one:hover .link{
    animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .image-one:hover .overlay{
    opacity: 1;
}

.shop-flex .shop-two{
    position: relative;
    height: 100%;
}

.shop-flex .shop-two:hover .txt{
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .shop-two:hover .link{
    animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .shop-two:hover .overlay{
    opacity: 1;
}

@keyframes job1 {
    0%{
        opacity: 0;
        margin-bottom: 70px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

@keyframes job1_link {
    0%{
        opacity: 0;
        bottom: 20px;
    }
    100%{
        opacity: 1;
        bottom: 50px;
    }
}


/* media  */

@media(max-width: 991px){
    .shop-flex .shop-one{
        width: 49%;
    }
    .shop-flex .shop-two{
        width: 49%;
    }
}

@media(max-width: 576px){
    .shop-flex .shop-one{
        width: 100%;
    }
    .shop-flex .shop-two{
        width: 100%;
    }
    .big-shop .shop-title h2{
        font-size: 24px;
    }
    .big-shop .shop-title p{
        font-size: 13px;
    }
}

.big-product{
    width: 90%;
    margin: 100px auto;
}
.big-product .product-title{
    margin-bottom: 50px;
    text-align: center;
}
.big-product .product-title p{
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 15px;
}
.big-product .product-title h2{
    font-weight: 600;
}
.big-product .product-title hr{
    width: 120px;
    margin: 14px auto;
    background: #bb0c55;
}
.big-product .product-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-flex .product-one{
    width: 24%;
    margin-bottom: 20px;
}
.product-flex .product-one img{
    width: 100%;
}
.product-flex .product-one .product-image{
    position: relative;
}
.product-one .product-image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.product-image .overlay i{
    margin: 0px 5px;
    padding: 5px;
    border: 1px solid #000;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
}


.product-one:hover .product-image .overlay i{
    animation: product_icon .5s ease-in-out forwards;
}

.product-one:hover .product-image .overlay i:nth-child(2){
    animation-delay: .2s;
}
.product-one:hover .product-image .overlay i:nth-child(3){
    animation-delay: .4s;
}

.product-one:hover .overlay{
    opacity: 1;
}

.product-one .product-image{
    margin-bottom: 15px;
}

@keyframes product_icon {
    0%{
        opacity: 0;
        margin-bottom: 50px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

.product-one .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.product-one .content h4{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}
.product-one .content section{
    font-size: 14px;
    font-weight: 600;
}
.product-one article{
    text-transform: uppercase;
    font-size: 14px;
}

/* media  */

@media(max-width: 991px){
    .big-product .product-one{
        width: 32%;
    }
}

@media(max-width: 768px){
    .big-product .product-one{
        width: 49%;
    }
}

@media(max-width: 576px){
    .big-product .product-one{
        width: 100%;
    }
    .big-product .product-title h2{
        font-size: 19px;
    }
    .big-product .product-title hr{
        width: 100px;
    }
}

.big-furn{
    width: 90%;
    margin: 100px auto;
}
.big-furn .furn-title{
    text-align: center;
    margin-bottom: 50px;
}
.big-furn .furn-title h2{
    font-weight: 600;
}
.big-part {
    text-align: center;
    position: relative;
}
.big-part img{
    width: 60%;
}
.big-part .text-inside{
    position: absolute;
    top: 50%;
    left: 27%;
}
.big-part .text-inside .plus{
    width: 35px;
    padding: 10px;
    background: var(--orange);
    transition: .2s;
    cursor: pointer;
    border-radius: 50%;
}

.text-inside .plus.img_active{
    transform: rotate(45deg);
}

.text-inside .text-box{
    width: 320px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-align: left;
    padding: 10px 0;
    transform: scale(0);
    transition: .5s;
}


.text-inside .text-box.active{
    transform: scale(1);
}

.text-inside .text-box img{
    width: 100px;
}
.text-inside .text-box h5{
    font-size: 17px;
    text-transform: capitalize;
}
.text-inside .text-box p{
    font-size: 13px;
    margin-bottom: 7px;
}
.text-inside .text-box a{
    text-decoration: none;
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 14px;
}

/* media  */

@media(max-width: 991px){
    .big-part img{
        width: 100%;
    }
}

@media(max-width: 576px){
    .text-inside{
        display: none;
    }
    .big-furn .furn-title h2{
        font-size: 18px;
    }
    .big-furn .furn-title p{
        font-size: 13px;
    }
}

.bg-show{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) , url(pic/h1_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 300px 0px;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-show .link{
    width: 200px;
    height: 200px;
    border: 1px solid #f9f9f9;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.bg-show .link:hover{
    border-color: rgb(153,153,153);
}
.bg-show .link a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: .2s ease-in-out;
    color: #FFF;
}
.bg-show .link img{
    width: 2.2rem;
    vertical-align: middle;
    margin-left: -5px;
}
.bg-show .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 111;
    display: none;
}
.bg-show .image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bg-show .image .cancel{
    position: absolute;
    top: -27px;
    right: 0;
    width: 20px;
    cursor: pointer;
}
.bg-show .image .bg-player{
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    width: 35px;
}
.bg-show .bg-player img{
    width: 35px;
}


.bg-show .image{
    animation: video 1s ease-in-out forwards;
}
@keyframes video {
    0%{
        opacity: 0;
        top: 20%;

    }
    100%{
        opacity: 1;
        top: 50%;
    }
}

@media(min-width: 992px){
    .bg-show .image video{
        width: 650px;
    }
}
@media(max-width: 991px){
    .bg-show .image video{
        width: 600px;
    }
}

@media(max-width: 768px){
    .bg-show .image video{
        width: 450px;
    }
    .bg-show .link img{
        width: 2rem;
    }
    .bg-show .link{
        width: 150px;
        height: 150px;
        line-height: 150px;
    }
}
@media(max-width: 576px){
    .bg-show .image video{
        width: 400px;
    }
    .bg-show .link a{
        font-size: 14px;
    }
    .bg-show .link img{
        width: 1.7rem;
    }
    .bg-show .link{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
}
@media(max-width: 401px){
    .bg-show .image video{
        width: 200px;
    }
}

.bg-team{
    width: 100%;
    margin: 100px 0px 0px;
    
}
.bg-team .team-title{
    margin-bottom: 50px;
    text-align: center;
    color: #FFF;
    background: var(--main-color);
    height: 550px;
    padding: 100px 0px;
}
.team-title section{
    text-transform: uppercase;
    font-size: 15px;
}
.team-title h2{
    font-weight: 600;
}
.team-title hr{
    margin: 15px auto;
    width: 110px;
    background: #FFF;
}
.bg-team .team-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: -360px;
    margin-bottom: 100px;
}
.team-flex .team-one{
    width: 32%;
}
.team-flex .team-one img{
    width: 100%;
}
.team-flex .team-one h4{
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 10px;
}

@media(max-width: 991px){
    .team-flex .team-one h4{
        font-size: 19px;
    }
}

@media(max-width: 768){
    .team-flex .team-one h4{
        font-size: 18px;
    }
}

@media(max-width: 576){
    .team-flex .team-one h4{
        font-size: 17px;
    }
}

.footer-image{
    display: flex;
    flex-wrap: wrap;
}
.footer-image .image1{
    width: 16.6%;
    position: relative;
}
.footer-image .image1 img{
    width: 100%;
}
.footer-image .insta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
    opacity: 0;
}
.footer-image .insta img{
    width: 30px;
    cursor: pointer;
}
.footer-image .image1:hover .insta{
    opacity: 1;
}
.footer-image .image1:hover .insta img{
    animation: instagram .5s ease-in-out forwards;
}
@keyframes instagram {
    0%{
        opacity: 0;
        margin-bottom: 30px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

/* media query */

@media(max-width: 768px){
    .footer-image .image1{
        width: calc(100% / 3);
    }
}


@media(max-width: 576px){
    .footer-image .image1{
        width: calc(100% / 2);
    }
}

@media(max-width: 300px){
    .footer-image .image1{
        width: 100%;
    }
}


.about
 {
     display: flex;
     justify-content: space-between;
     align-items:center;
 }
 .about .about-content
 {
     width:100%;
     height: auto;
     padding:4rem 2rem;
     outline: var(--outline);
     outline: var(--outline-hover);
     box-shadow: var(--box-shadow);
     text-align: center;
     background: #fff;
     border-radius: 5px;
 }

 
 .about-content h2 
 {
     font-size:2.5rem;
     color:black;
     padding:.5rem 0;
     letter-spacing:.2rem;
     
 }
 .about-content p 
 {
     font-size:15px;
     font-weight:500;
     line-height: 1.5rem;
     color:var(--black);
 }
 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  /* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }



.bg-footer{
    width: 90%;
    margin: 0px auto;
}
.bg-footer .footer-flex{
    display: flex;
    justify-content: space-between;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    margin: 50px 0px;
}
.bg-footer .footer-flex .footer1{
    width: 24%;
}
.footer-flex .footer1 h2{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.footer-flex .footer1 section{
    font-size: 14px;
}
.footer-flex .footer1 li{
    font-size: 14px;
}
.footer-flex .footer1 li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.footer-flex .footer1 .footer-logo{
    margin-top: 30px;
}
.footer1 .footer-logo img{
    width: 100%;
}
.bg-footer hr{
    background: #f9f9f9;
    margin: 15px 0px;
    height: 1px;
    width: 100%;
}
.bg-footer .copy{
    margin: 15px 0px;
    text-align: center;
}
.bg-footer .copy section{
    font-size: 14px;
    text-transform: capitalize;
}

.bg-footer .copy span{
    font-weight: bold;
    color: var(--main-color);
}

/* media query  */

@media(max-width: 768px){
    .bg-footer .footer-flex .footer1{
        width: 49%;
    }
}

@media(max-width: 576px){
    .bg-footer .footer-flex .footer1{
        width: 100%;
    }
}


/* login */



.top{
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 122;
    border: 1px solid #000;
    border-radius: 50%;
    transition: .4s ease-in-out;
    cursor: pointer;
    display: none;
}
.top i{
    font-size: 20px;
    vertical-align: middle;
}
.top:hover{
    background: var(--main-color);
    box-shadow: 0px 0px 1px 1px var(--main-color);
    border-color: #f9f9f9;
    color: #FFF;
}

body { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-family: sans-serif; 
	line-height: 1.5; 
	min-height: 100vh; 
	background: #f3f3f3; 
	flex-direction: column; 
	margin: 0; 
} 

.main { 
	background-color: #fff; 
	border-radius: 15px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	padding: 10px 20px; 
	transition: transform 0.2s; 
	width: 500px; 
	text-align: center; 
} 

h1 { 
	color: #4CAF50; 
} 

label { 
	display: block; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 5px; 
	text-align: left; 
	color: #555; 
	font-weight: bold; 
} 


input { 
	display: block; 
	width: 100%; 
	margin-bottom: 15px; 
	padding: 10px; 
	box-sizing: border-box; 
	border: 1px solid #ddd; 
	border-radius: 5px; 
} 

button { 
	padding: 15px; 
	border-radius: 10px; 
	margin-top: 15px; 
	margin-bottom: 15px; 
	border: none; 
	color: white; 
	cursor: pointer; 
	background-color: #4CAF50; 
	width: 100%; 
	font-size: 16px; 
} 

.wrap { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
}






/* sign up */

* {box-sizing: border-box}

/* Full-width input fields */
@media (max-width: 991px){
    
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}




/*    new Contact Us   */    






#contact-form {
    width: 500px;
    margin: 0 auto;
  }
  
  #contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


